.users {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.users button:disabled {
    opacity: 0.75;
    background-color: rgba(107, 107, 107, 0.6);
}

.users__list {
    width: 95%;
    margin: 50px 25px 20px;
}

.users__controls {
    display: block;
    margin-bottom: 40px;
    padding: 12px 28px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: green;
    border: none;
    cursor: pointer;
}

.users__paginationControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 10px;
    width: 65%;
}

.users__paginationControls span {
    margin-right: 10px;
}

.users__paginationControls button {
    display: block;
    padding: 6px 14px;
    font-size: 12px;
    color: #FFFFFF;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.users__paginationPages {
    width: 40%;
}

.users__selectedPage {
    font-weight: bold;
    font-size: 1.1em;
    color: #e8590c;
    cursor: pointer;
}

.users__page {
    font-weight: bold;
    color: rgba(35, 35, 35, 0.6);
    cursor: pointer;
}

.users__pageTotalCounter {
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 1px;
    color: rgba(35, 35, 35, 0.6);
}