.users {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.users__list {
    width: 95%;
    margin: 50px 25px 20px;
}

.users__controls {
    display: block;
    margin-bottom: 40px;
    padding: 12px 28px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: green;
    border: none;
    cursor: pointer;
}

.users__paginationControls {
    margin: 30px auto 10px;
}

.users__paginationControls span {
    margin-right: 10px;
}

.users__selectedPage {
    font-weight: bold;
    font-size: 1.1em;
    color: #e8590c;
    cursor: pointer;
}

.users__page {
    font-weight: bold;
    color: rgba(35, 35, 35, 0.6);
    cursor: pointer;
}