.header {
    grid-area: h;
    padding: 25px 45px 25px 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #a4b97d;
}

.header img {
    width: 35px;
    height: 35px;
}

.loginBlock {

}

a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.8);
}

.loginName {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(13, 10, 180, 0.84);
}

.active {
    color: rgb(255, 255, 255);
}

.loggedUsersInfo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.loggedUsersInfo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}