.dialogs {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    margin: 0 40px;
    padding: 0 40px 0 0;
    border-right: 1px solid grey;
}

.dialog {
    cursor: pointer;
}

.dialog a {
    text-decoration: none;
}

.dialog:hover {
    opacity: 0.7;
}

.messages {
    padding: 10px;
}

.message {

}

.active {
    color: rgba(8, 83, 231, 0.9);
}